<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <product_symbols>
            <general>
                <should_display_svg_inline>1</should_display_svg_inline>
                <indexing_is_enabled>1</indexing_is_enabled>
            </general>
        </product_symbols>
    </default>
</config>
