<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="MageSuite\ProductSymbols\Api\SymbolsRepositoryInterface"
                type="MageSuite\ProductSymbols\Model\SymbolsRepository" />
    <preference for="MageSuite\ProductSymbols\Api\Data\SymbolsInterface"
                type="MageSuite\ProductSymbols\Model\Symbols" />
    <preference for="MageSuite\ProductSymbols\Api\Data\SymbolsImagesInterface"
                type="MageSuite\ProductSymbols\Model\SymbolsImages" />

    <preference for="MageSuite\ProductSymbols\Api\GroupsRepositoryInterface"
                type="MageSuite\ProductSymbols\Model\GroupsRepository" />
    <preference for="MageSuite\ProductSymbols\Api\Data\GroupsInterface"
                type="MageSuite\ProductSymbols\Model\Groups" />
</config>
