<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="import_subsidiaries" xsi:type="object">Creativestyle\CustomizationNkd\Console\Command\ImportSubsidiaries</item>
                <item name="assign_sources" xsi:type="object">Creativestyle\CustomizationNkd\Console\Command\AssignSources</item>
                <item name="assign_quantities_to_source" xsi:type="object">Creativestyle\CustomizationNkd\Console\Command\AssignQuantitiesToSource</item>
                <item name="enable_sources" xsi:type="object">Creativestyle\CustomizationNkd\Console\Command\EnableSources</item>
                <item name="assign_websites" xsi:type="object">Creativestyle\CustomizationNkd\Console\Command\AssignWebsitesToStock</item>
                <item name="import_customers" xsi:type="object">Creativestyle\CustomizationNkd\Console\Command\ImportCustomers</item>
                <item name="send_email" xsi:type="object">Creativestyle\CustomizationNkd\Console\Command\SendOrderEmail</item>
                <item name="reindex_product" xsi:type="object">Creativestyle\CustomizationNkd\Console\Command\ReindexProduct</item>
                <item name="delete_migrated_customers" xsi:type="object">Creativestyle\CustomizationNkd\Console\Command\DeleteMigratedCustomers</item>
                <item name="fix_inventory" xsi:type="object">Creativestyle\CustomizationNkd\Console\Command\FixInventory</item>
                <item name="generate_sample_payload" xsi:type="object">Creativestyle\CustomizationNkd\Console\Command\GenerateStockUpdatePayload</item>
            </argument>

        </arguments>
    </type>
    <type name="Magento\Framework\View\Result\Page">
        <plugin name="add_address_validation_class_to_body_in_checkout" type="Creativestyle\CustomizationNkd\Plugin\Framework\View\Result\Page\AddAddressValidationClassToBody"/>
    </type>

    <type name="Magento\Sales\Api\OrderRepositoryInterface">
        <plugin name="address_validation_status" sortOrder="10" type="Creativestyle\CustomizationNkd\Plugin\Sales\Api\OrderRepositoryInterface\AddValidationStatusToOrderAddressRepository" />
    </type>

    <type name="Smile\ElasticsuiteCatalog\Model\Autocomplete\Product\ItemFactory">
        <plugin name="add_items_to_search_flyout" type="Creativestyle\CustomizationNkd\Plugin\Smile\ElasticsuiteCatalog\Model\Autocomplete\Product\ItemFactory\AddItemsToSearchFlyout" sortOrder="20"/>
    </type>

    <preference for="MageSuite\ContentConstructorAdmin\Observers\PageEditObserver" type="Creativestyle\CustomizationNkd\Observer\PageEditObserver" />
    
    <type name="Magento\Widget\Model\Widget">
        <plugin name="filter_widget_content" type="Creativestyle\CustomizationNkd\Plugin\Model\Widget" sortOrder="10" />
    </type>

    <type name="Magento\CatalogRule\Model\Indexer\ProductPriceCalculator">
        <plugin name="catalog_rule_including_special_price" type="Creativestyle\CustomizationNkd\Plugin\CatalogRule\Model\Indexer\ProductPriceCalculator\CatalogRulesIncludingSpecialPrice" sortOrder="10" />
    </type>

    <preference for="Creativestyle\CustomizationNkd\Api\UpdateExportedOrderRepositoryInterface" type="Creativestyle\CustomizationNkd\Model\UpdateExportedOrderRepository" />
    <preference for="Creativestyle\CustomizationNkd\Api\ProductsStockInterface" type="Creativestyle\CustomizationNkd\Model\ProductsStock" />

    <preference for="Creativestyle\CustomizationNkd\Api\SymbolsRepositoryInterface"
                type="Creativestyle\CustomizationNkd\Model\SymbolsRepository" />
    <preference for="Creativestyle\CustomizationNkd\Api\Data\SymbolsInterface"
                type="Creativestyle\CustomizationNkd\Model\Symbols" />
    <preference for="Creativestyle\CustomizationNkd\Api\Data\SymbolsImagesInterface"
                type="Creativestyle\CustomizationNkd\Model\SymbolsImages" />


    <type name="Magento\Catalog\Api\ProductRepositoryInterface">
        <plugin name="assign_source_to_product_after_save" type="Creativestyle\CustomizationNkd\Plugin\Catalog\Api\ProductRepositoryInterface\AssignSourceToProduct" sortOrder="10"/>
    </type>
    
    <preference for="Magento\InventorySales\Model\IsProductSalableCondition\IsAnySourceItemInStockCondition"
                type="Creativestyle\CustomizationNkd\Model\IsProductSalableCondition\IsAnySourceItemInStockCondition" />

    <type name="Magento\Inventory\Model\Source\Command\GetSourcesAssignedToStockOrderedByPriority">
        <plugin name="cache_loaded_sources" type="Creativestyle\CustomizationNkd\Plugin\Inventory\Model\Source\Command\GetSourcesAssignedToStockOrderedByPriority\CacheLoadedSources" sortOrder="10" />
    </type>

    <type name="Magento\InventoryInStorePickup\Model\GetPickupLocationsAssignedToSalesChannel">
        <plugin name="cache_loaded_pickup_locations" type="Creativestyle\CustomizationNkd\Plugin\InventoryInStorePickup\Model\GetPickupLocationsAssignedToSalesChannel\CacheLoadedPickupLocations" sortOrder="10" />
    </type>

    <type name="\Magento\Customer\Controller\Account\LoginPost">
        <plugin name="regenerate_password_using_old_one" type="\Creativestyle\CustomizationNkd\Plugin\Customer\Controller\Account\LoginPost\RegeneratePasswordUsingOldOne" sortOrder="10" />
    </type>
    
    <type name="Magento\Sales\Model\Order\Email\Sender\OrderSender">
        <plugin name="use_emarsys_for_order_send" type="Creativestyle\CustomizationNkd\Plugin\Sales\Model\Order\Email\Sender\OrderSender" sortOrder="20" />
    </type>

    <preference for="Magento\InventoryInStorePickupApi\Api\GetNearbyPickupLocationsInterface"
                type="Creativestyle\CustomizationNkd\Model\InStorePickup\GetNearbyPickupLocations"/>

    <type name="Magento\Directory\Model\AllowedCountries">
        <plugin name="customerAllowedCountries" disabled="true" />
    </type>

    <type name="Magento\Store\Model\StoreSwitcher">
        <plugin name="add_flag_after_store_switched" type="Creativestyle\CustomizationNkd\Plugin\Store\Model\StoreSwitcher\AddForcedFlagAfterSwitchStore" sortOrder="20" />
    </type>

    <type name="Smile\ElasticsuiteCatalog\Model\Product\Indexer\Fulltext\Datasource\PriceData">
        <plugin name="fix_discount_detection_for_configurables"
                type="Creativestyle\CustomizationNkd\Plugin\Smile\ElasticsuiteCatalog\Model\Product\Indexer\Fulltext\Datasource\PriceData\FixDiscountDetectionForConfigurables"
        />
    </type>

    <type name="Magento\Customer\Model\AccountManagement">
        <plugin name="regenerate_password_using_old_one_checkout" type="Creativestyle\CustomizationNkd\Plugin\Customer\Model\AccountManagement\RegeneratePasswordUsingOldOneCheckout" sortOrder="10" />
    </type>
    
    <type name="Magento\Sales\Api\OrderRepositoryInterface">
        <plugin name="add_customer_increment_id_to_rest_object"
                type="Creativestyle\CustomizationNkd\Plugin\Sales\Api\AddIncrementId" />
    </type>

    <type name="Magento\Wishlist\Controller\Index\Add">
        <plugin name="redirect_to_referer_after_add_to_wishlist" type="Creativestyle\CustomizationNkd\Plugin\Wishlist\Controller\Index\Add\RedirectToRefererAfterAddToWishlist" />
    </type>
    
    <type name="Magento\CatalogRule\Model\Rule">
        <plugin name="add_products_from_virtual_categories" type="Creativestyle\CustomizationNkd\Plugin\CatalogRule\Model\RulePlugin" />
    </type>
    
    <type name="MageSuite\Frontend\Helper\Product">
        <plugin name="is_new_badge_based_on_nkd_new_attribute" type="Creativestyle\CustomizationNkd\Plugin\Magesuite\Frontend\Helper\Product\IsNewLogicBasedOnDifferentAttribute" sortOrder="5"/>
    </type>

    <type name="MageSuite\ProductTile\Block\Tile\Fragment\Badge\IsNew">
        <plugin name="is_new_badge_based_on_nkd_new_attribute_tile" type="Creativestyle\CustomizationNkd\Plugin\Magesuite\ProductTile\Block\Tile\Fragment\Badge\IsNew\IsNewLogicBasedOnDifferentAttribute" sortOrder="5"/>
    </type>

    <type name="MagePal\GoogleTagManager\DataLayer\QuoteData\QuoteItemProvider">
        <arguments>
            <argument name="quoteItemProviders" xsi:type="array">
                <item name="quote-item-data" xsi:type="object">Creativestyle\CustomizationNkd\DataLayer\QuoteData\QuoteItemProvider</item>
            </argument>
        </arguments>
    </type>

    <type name="MagePal\GoogleTagManager\Helper\DataLayerItem">
        <plugin name="return_empty_variable_for_item" type="Creativestyle\CustomizationNkd\Plugin\MagePal\GoogleTagManager\Helper\DataLayerItem\ReturnEmptyVariableForItem"/>
    </type>


    <type name="MagePal\GoogleTagManager\DataLayer\OrderData\OrderItemProvider">
        <arguments>
            <argument name="orderItemProviders" xsi:type="array">
                <item name="order-item-data" xsi:type="object">Creativestyle\CustomizationNkd\DataLayer\OrderData\OrderItemProvider</item>
            </argument>
        </arguments>
    </type>

    <type name="MagePal\GoogleTagManager\Block\DataLayer">
        <plugin name="add_brand_variable_to_product_data" type="Creativestyle\CustomizationNkd\Plugin\MagePal\GoogleTagManager\Block\DataLayer\AddBrandAttributeToProduct"/>
    </type>

    <type name="Emartech\Emarsys\Model\Event">
        <plugin name="fix_store_id_in_data" type="Creativestyle\CustomizationNkd\Plugin\Emarsys\Model\Event"/>
    </type>

    <type name="Magento\Newsletter\Controller\Subscriber\NewAction">
        <plugin name="fix_doi_process" type="Creativestyle\CustomizationNkd\Plugin\Newsletter\Controller\NewAction"/>
    </type>

    <type name="Magento\Customer\Model\Address\CompositeValidator">
        <arguments>
            <argument name="validators" xsi:type="array">
                <item name="country" xsi:type="object">Creativestyle\CustomizationNkd\Plugin\Customer\Model\Address\Validator\Country</item>
            </argument>
        </arguments>
    </type>


    <type name="Magento\Framework\Search\SearchEngineInterface">
        <plugin name="add_all_docs_ids_to_cache_tags" type="Creativestyle\CustomizationNkd\Plugin\Framework\Search\SearchEngine\AddAllDocIdsToCacheTags"/>
    </type>
    
    <type name="Magento\Customer\Block\Account\Link">
        <plugin name="fix_login_icon_cached" type="Creativestyle\CustomizationNkd\Plugin\Customer\Block\Account\Link\AddAdditionalCacheKeyInfo"/>
    </type>

    <preference for="Creativestyle\CustomizationNkd\Api\StockStatusRepositoryInterface"
                type="Creativestyle\CustomizationNkd\Model\StockStatusRepository" />
    <preference for="Creativestyle\CustomizationNkd\Api\Data\StockStatusInterface"
                type="Creativestyle\CustomizationNkd\Model\StockStatus" />
    <preference for="Creativestyle\CustomizationNkd\Api\Data\StockUpdateResultInterface"
                type="Creativestyle\CustomizationNkd\Model\StockUpdateResult" />
</config>
